# NuGet
*.nuget.props
*.nuget.targets

**/packages/*
!**/packages/build/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Ss]amples/**/*.js
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/





/legacy-materials
